@{
    ViewData["Title"] = "Login";
}
@model OnlineShop.Models.LoginModel
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="Login">
            <label asp-for="Username"></label>
            <input asp-for="Username" class="form-control" />
            <label asp-for="Password"></label>
            <input asp-for="Password" type="password" class="form-control" />
            <button type="submit" class="btn btn-primary">Login</button>
            <a asp-controller="Auth" asp-action="Register" class="btn btn-primary">Registration</a>
        </form>
    </div>
</div>