@model IEnumerable<Product>

<style>
    form{
        padding-bottom: 20px;
    }
</style>
<div class="container">
    <h1>Search result</h1>
    <hr />
    <form method="post" asp-action="Search">
        <div class="input-group">
            <input type="search" name="Search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
            <button type="submit" class="btn btn-outline-primary">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                </svg>
            </button>
        </div>
    </form>
</div>
<div class="container">
    <div class="row">
        <div id="modDialog" class="modal fade">
            <div id="dialogContent" class="modal-dialog"></div>
        </div>
        @if (Model != null)
        {
            @foreach (var item in Model)
            {
                <div class="card mb-3" style="width:16rem;padding:0;margin-left:20px">
                    @if (item.ImageName != "null")
                    {
                        <img src="~/Upload/@item.ImageName" class="card-img-top" style="margin-left:13%;margin-top:13%;width:74%;height:150px;">
                    }
                    else
                    {
                        <img src="~/Upload/default.jpg" class="card-img-top" style="width:100%;height:150px">
                    }
                    <div class="card-body">
                        <h5 class="card-title">@item.Name</h5>
                        <h5 class="card-text">@(item.Price)$</h5>
                        <a class="btn btn-success modalWindow" asp-controller="Cart" asp-action="AddToCart" asp-route-id="@item.Id">Add to cart</a>
                    </div>
                </div>
            }
        }
    </div>
    <div class=""></div>
</div>