


<div class="modal-content">
    <div class="modal-header">
        <h4>Add to cart</h4>
    </div>
    <div class="modal-body">
        <h4>Are you sure you want to add the item to your cart?</h4>
        <form method="post" asp-action="AddToCart">
            <button class="btn btn-success" type="submit">Add</button>
        </form>
    </div>
</div>
