@model OnlineShop.Models.Product

@{
    ViewData["Title"] = "Details";
}
<div class="container">
    <h1>Details</h1>
    <h4>Product</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Name">Name</label>
                <input class="form-control" value="@Model.Name" readonly />
            </div>
            <div class="form-group">
                <label asp-for="ImagePath">Image Path</label>
                <input class="form-control" value="@Model.ImagePath" readonly />
            </div>
            <div class="form-group">
                <label asp-for="Price">Price</label>
                <input class="form-control" value="@Math.Round(Model.Price)" readonly />
            </div>
        </div>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
</div>