@model OnlineShop.Models.Product


<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="Upload" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <label class="control-label">Edit image</label>
            <input type="file" name="uploadFile" class="form-control" />
            <button type="submit" class="btn btn-primary">Upload</button>
        </form>
    </div>
</div>